.header {
  @include flexBox(space-between, center);
  height: 10rem;
  padding: 3rem;
  &-menu-list {
    @include flexBox(center, center);
    gap: 4.5rem;
    padding: 1rem 2rem;
  }
  .menu-item-link {
    transition: 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    padding: 0.6rem 0;
    font-weight: 500;
    text-decoration: none;
    color: $link-color;
    position: relative;
    &:hover {
      color: $text-para-color;
    }
    &::before {
      transition: 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
      content: "";
      position: absolute;
      left: 0px;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: $text-heading-color;
    }
    &:hover::before {
      width: 100%;
    }
  }
}
